Merge Datasets

In [114]:
#Importamos las librerias 
import pandas as pd

In [115]:
#Convierte en datadrame a cada uno de los datasets anteriormente cargados
data_games = pd.read_csv('Games_output.csv')
data_items = pd.read_csv('User_items_output.csv')
data_reviews = pd.read_csv('User_reviews_output.csv')

In [116]:
#Selecciona las columnas necesarias del dataset 
data_items = data_items[['Id_item','Id_user','Playtime_forever']]
#Transformamos la columna a tipo string y procedemos a anexar o juntar dos de las columnas en una sola 
data_items['Id_item'] = data_items['Id_item'].astype(str)
data_games['Id_item'] = data_games['Id_item'].astype(str)
data_items['Id'] = data_items['Id_item']+ data_items['Id_user']
data_reviews['Id_item'] = data_reviews['Id_item'].astype(str)
data_reviews['Id'] = data_reviews['Id_item']+ data_reviews['Id_user']
data_items

        Id_item            Id_user  Playtime_forever                       Id
0            10  76561197970982479               6.0      1076561197970982479
1            30  76561197970982479               7.0      3076561197970982479
2           300  76561197970982479            4733.0     30076561197970982479
3           240  76561197970982479            1853.0     24076561197970982479
4          3830  76561197970982479             333.0    383076561197970982479
...         ...                ...               ...                      ...
3285241  304930  76561198329548331             677.0  30493076561198329548331
3285242  227940  76561198329548331              43.0  22794076561198329548331
3285243  388490  76561198329548331               3.0  38849076561198329548331
3285244  521570  76561198329548331               4.0  52157076561198329548331
3285245  519140  76561198329548331               3.0  51914076561198329548331

[3285246 rows x 4 columns]

In [117]:
#Realiza un merge a dos datasets 
data_merged = data_reviews.merge(data_games,on='Id_item',how='left')
data_merged.dropna(inplace=True)
#Realiza un 2do merge para terminar de crear el datasets final
data = data_items.merge(data_merged,on='Id')

In [118]:
#Renombramos las columnas del datasets para poder diferencias las columnas del dataset final y eliminamos columnas no necesarias 
data = data.rename(columns={'Id_user_x':'Id_user','Id_item_x':'Id_item','Year_y':'Release_date','Year_x':'Posted'})
data.drop('Id_user_y',axis='columns',inplace=True)
data.drop('Id_item_y',axis='columns',inplace=True)
data['Playtime_forever'] = data['Playtime_forever'].astype(int)
data['Release_date'].astype(int)

0        2009
1        2009
2        2013
3        2013
4        2011
         ...
32509    2012
32510    2012
32511    2003
32512    2012
32513    2012
Name: Release_date, Length: 32514, dtype: int32

In [120]:
#Selecciona las columnas necesarias 
data = data[['Id','Id_user','Id_item','App_name','Genres','Developer','Release_date','Price','Recommend','Posted','Sentiment_analysis','Playtime_forever']]

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32514 entries, 0 to 32513
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  32514 non-null  object
 1   Id_user             32514 non-null  object
 2   Id_item             32514 non-null  object
 3   App_name            32514 non-null  object
 4   Genres              32514 non-null  object
 5   Developer           32514 non-null  object
 6   Release_date        32514 non-null  float64
 7   Price               32514 non-null  float64
 8   Recommend           32514 non-null  int64
 9   Posted              32514 non-null  int64
 10  Sentiment_analysis  32514 non-null  int64
 11  Playtime_forever    32514 non-null  int32
dtypes: float64(2), int32(1), int64(3), object(6)
memory usage: 2.9+ MB

In [128]:
#Exportamos el dataset final a archivo csv
data.to_csv('data_merged.csv',index=False)
data.to_csv(r'C:\Users\User\PI_ML_OPS\EDA\data_merged.csv',index=False)